#h {
	color:black;
	text-decoration:underline;
	}

#p1 {
	font-family:cursive;
	}

.for_nav {
    padding: 0px 20px;
    background-color:SkyBlue;
	text-align: right;
	}

a:hover {
	color:#7B68EE;
	}
